body {
    text-align: center;
    background-color: #FEF3E2;
    font-family: 'Agu Display', sans-serif;
}

h1 {
    font-size: 7rem;
    color: #FA4032;
}

button {
    width: 140px;
    height: 140px;
    border-radius: 15px;
    font-size: 5rem;
    border: 10px solid #FAB12F;
    font-weight: bold;
    color: #FA812F;
    margin: 10px;
    font-family: 'Arvo', sans-serif;
    text-align: center;
}


.w {
    background-image: url(images/w-crash.png);
}

.a {
    background-image: url(images/a-tom1.png);
}

.s {
    background-image: url(images/s-tom3.png);
}

.d {
    background-image: url(images/d-kick.png);
}

.j {
    background-image: url(images/j-tom4.png);
}

.k {
    background-image: url(images/k-tom2.png);
}

.l {
    background-image: url(images/l-snare.png);
}

.pressed {
    box-shadow: 0 3px 4px 0 #BDEDF3;
    opacity: 0.5;
}

